@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}

div#container {
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

p.combinado:first-letter {
    color: #000000;
    font-size: 300%;
    background-color: #757575;
}

p.rodape {
    align-content: flex-start;
}

a.ref {
    text-decoration: none;
    color: #000000;
    align-items: center;
}

a.ref {
    text-decoration: underline;
}

header#cabecalho img.icone {
    left: 60%;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

header#cabecalho h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 10%;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}


/*
figure {
    max-width: 50%;
    top: 0pt;
    font-size: smaller;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.2em;
    position: initial;
}*/

section {
    /* display: flex;
    
    width: 750px;
    
    float: left;
    */
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article h2 {
    font-size: 13pt;
    color: #ffffff;
    background-color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabelha-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

header#cabelha-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
    margin-top: 0px;
}

header#cabelha-artigo h3 {
    font-size: 12pt;
    color: #606060;
}

.direita {
    text-align: right;
}

aside {
    /* display: block;
    float: right;
    */
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5)
}

aside h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer.rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer.rodape p {
    text-align: center;
}